# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
venv/
.env

# VS Code
.vscode/

# Pytest cache
.pytest_cache/

# mypy
.mypy_cache/

# Coverage reports
htmlcov/
.coverage
.coverage.*

# Logs
*.log

# macOS
.DS_Store

# Environment variables and local config
.env
.env.*

# Pydantic generated JSON schema cache
*.json.schema
